body {
    font-family: system-ui, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 7rem;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 1rem;
    flex-wrap: wrap;
  }
  
  .form-section {
    background: rgb(254, 255, 255);
    padding: 3.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 250px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 0.6rem;
    margin: 0.5rem 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 0.6rem 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  